$max-width: 980px;

//used mostly on divs to be the outer container of the section
.container {
    @include outer-container;
    padding-left: 20px;
    padding-right: 20px;
}

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}
