.blog-posts {
    text-align: center;
    padding-top: 5em;
    padding-bottom: 5em;

    .container {

        // styling for individual blog post when someone clicks to see more details
        img {
            width: 100%;
        }

        pre {
            white-space: pre-wrap;
        }

        //date is used in both pages
        p.date {
            font-size: 1.0em;
            padding-bottom: 0.2em;
        }

        p.title {
            margin: 1em 0;
            font-size: 2.4em;
        }

        .content {
            text-align: left;
            margin: 2em 0;
        }

        //styling for blog post blocks on the blog page
        .blog-post {
            text-align: left;
            margin-bottom: 5em;

            a {
                border: none;
                padding: 0;
                height: 100%;
            }

            h2 {
                color: $seafoam;
            }

            img {
                width: 100%;
            }
        }

        .show-more {
            background-color: $white;
            @include border($seafoam);
            border-radius: 2em;
            color: $seafoam;
            padding: 1em 3em;

            cursor: pointer;
        }


        &.bloggin {
            max-width: 500px;
        }
    }

    &.top-padding {
        padding-top: 3em;
    }
}

@media only screen and (min-width:550px) {
    .blog-posts {
        .container {
            .blog-post {
                max-height: 300px;
                overflow: auto;

                a {
                    width: 100%;
                }

                .headings {
                    @include span-columns(6);
                }

                img {
                    @include span-columns(4);
                    @include omega();
                    @include shift(2);
                }
            }
        }
    }
}
