.careers {
    background-color: $orange;
    color: $white;
    text-align: center;
    padding-top: 5em;
    padding-bottom: 5em;
    .container {
        h2 {
            padding-bottom: 1.5em;
        }
        a {
            border: 0;
            border-radius: 0;
            padding: 0;

            li.job {
                padding: 0.5em 0;
                color: $white;
                font-size: 1.4em;
            }
        }

        hr {
            background-color: $white;
            margin: 40px 0;
        }

        p {
            color: $white;
        }
    }
}
