.contact-info {
    padding-top: 5em;
    text-align: center;

    img {
        margin-top: 5em;
        width: 100%;
    }

    .container {
        h2 {
            color: $blue;
            font-size: 1.0em;
        }

        p {
            color: $seafoam;
            font-size: 1.6em;
            margin-bottom: 2em;

            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}

@media only screen and (min-width: 875px) {
    .contact-info {
        img {
            max-height: 470px;
            object-fit: cover;
        }
    }
}
