.hero {
    background: url(../assets/concert-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: -60px;
    z-index: 0;

    .container {
        h1, .headline {
            position: relative;
            padding-top: 3em;
            font-size: 3.6em;
            color: $seafoam;
            z-index: 1;
        }

        a {
            position: relative;
            display: block;
            border: none;
            color: $blue;
            padding-left: 0;
            font-size: 1.4em;
            margin-top: 2em;
            z-index: 1;

            &::before {
                content: "\e900";
                font-size: 2.0em;
                padding-right: 5px;
                vertical-align: middle;
                font-family: 'icomoon' !important;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;

                /* Better Font Rendering =========== */
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
    }

    &.index {
        background-color: $white;
        background-image: url(../assets/index-background.svg);
        background-position: right -20px bottom;
        background-repeat: no-repeat;
        background-size: 150% auto;
        height: 100vh;

        &::after {
            background-color: transparent;
        }

        .container {
            .headline {
                margin: 0;
            }
        }
    }

    &.blog, &.about-us {
        background-image: url(../assets/people-background.jpg);
        background-position: top center;
        background-size: cover;
    }

    &::after {
        content: "";
        position: absolute;
        background-color: $seafoam-background;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
}

@media only screen and (max-height: $iphone5-height) {
    .hero {
        &.index {
            height: $iphone5-height;
        }
    }
}

@media only screen and (min-width: 600px) {
    .hero {
        height: 300px;

        .container {
            h1, .headline {
                font-size: 4.8em;
            }

            a {
                position: absolute;
                bottom: 5em;
            }
        }

        &.index {
            background-position: right bottom;
            background-size: contain;
        }
    }
}
