.text-and-pics {
    .container {
        p {
            margin: 5em auto;
            font-size: 1.4em;
            float: none;
        }

        img {
            display: block;
            width: 100%;
        }
    }
}
