.text-and-pics {
    .container {
        p {
            margin: 50px auto;
            font-size: 1.4em;
            float: none;
        }

        img {
            display: block;
            width: 100%;
        }
    }

    &.extra-padding {
        padding-bottom: 5em;
    }
}

@media only screen and (min-width: 600px) {
    .text-and-pics {
        .container {
            p {
                font-size: 1.6em;
            }

            img {
                @include span-columns(6);
                width: 50%;
                height: 275px;
                margin-right: 0;
                object-fit: cover;
            }
        }
    }
}
